<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <!--<add key="DatabaseInitializerForType Swtor.Business.Entities.SwtorContext, Swtor.Business.Entities" value="Swtor.Business.DBInit, Swtor.Business" />-->
  </appSettings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
